.brand{
    text-align: center;
    font-size: 50px;
}
body{
    background: #192C3E;
    font-family: sans-serif;
}
header{
    background: #8EA7B4;
}
.container{
    background: #8EA7B4;
}
.innerbg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 900px;
    background-color: #8EA7B4;
    }

.button {
    background-color: #192C3E;
    border: none;
    color: white;
    margin-top: 15px;
    padding: 15px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}
.row {
    background-color: silver;
}
.threadname {
    text-align: center;
    width: 500px;
    height: 20px;
}
.threadcontent {
    text-align: left;
    width: 500px;
    height: 100px;
}
.brand{
    text-align: center;
    font-size: 30px;
    color: black;
    background-color: #8EA7B4;
    font-weight: bold;
}
body{
    background: #192C3E;
    font-family: sans-serif;
}
header{
    background: #8EA7B4;
}
.main{
    background: #8EA7B4;
}
.innerbg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 900px;
    background-color: #8EA7B4;
}
.header{
    background-color: silver;
    text-align: center;
}
h4{
    font-size: 35px;
}
.button {
    background-color: #192C3E;
    border: none;
    color: white;
    margin-top: 15px;
    padding: 15px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.comment {
    background-color: silver;
    text-align: center;
}
textarea {
    text-align: left;
    width: 250px;
    height: 100px;
}
.search {
    background-color: silver;
}
.pagination {
    background-color: silver;
}
.navigate {
    background-color: silver;
    color: black;
}
.inputText {
    text-align: center;
    width: 50%;
    height: 80px;
    padding: 12px 20px;
    background-position: 10px 10px;
    border: 2px solid black;
    font-weight: bold;
    justify-content: center;
}
.inputButton {
    background-color: silver;
    width: 50%;
    border: 2px solid black;
    color: black;
    padding: 15px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}
.navBarLink {
    color: blue;
    text-underline-position: below;
    text-decoration: underline;
}
.discussionsLink {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-underline-position: below;
    text-decoration: underline;
}
.discussionsSubtitle {
    text-align: center;
    color: black;
}
.commentsContent {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
a {
    color: black;
}
h1 {
    color: white;
}
.discussionSurround {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2.5px;
}
.editAndDeleteButton {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.inputDiv {
    text-align: center;
}
.inputButtonDiv {
    text-align: center;
}
.updateButton {
    background-color: silver;
    border-color: black;
    border-style: solid;
    border-width: 2.5px;
    height: 50px;
    width: 100px;
}