.tempbody {
    background-color: #192C3E;
}

.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #8EA7B4;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: sans-serif;
}

.sidebartext {
    display: block;
    padding: 18px 8px 6px 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    }

.sidebartextrectangle {
    height: 8%;
    width: 80%;
    position: relative;
    margin-top: 40%;
    margin-left: 9%;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
}

.welcometext {
    display: block;
    padding: 0px 8px 6px 14px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.main {
    margin-left: 15%;
    font-size: 28px; 
}